{# templates/pointage/liste.html.twig #}

<h1>Liste des Pointages</h1>
<table>
    <thead>
        <tr>
            <th>Employé</th>
            <th>Statut</th>
            <th>Heure d'Entrée</th>
        </tr>
    </thead>
  
</table>
