{# templates/pointage/liste.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Rapport des Employés{% endblock %}

{% block body %}
<h1>Liste des Pointages</h1>
<table>
    <thead>
       
     
    </thead>
  
</table>
{% endblock %}
