{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    <aside class="sidebar">
      <ul>
        <li><a href="#dashboard">Tableau de Bord</a></li>
        <li><a href="#employees">Employés</a></li>
        <li><a href="#attendance">Pointage</a></li>
        <li><a href="#reports">Rapports</a></li>
        <li><a href="#notifications">Notifications</a></li>
        <li><a href="{{ path('app_front_profile') }}">profil</a></li>
      </ul>
    </aside>
<h2>Mon Profil</h2>
<form action="{{ path('app_front_profile') }}" method="post">
  <div>
    <label for="name">Nom :</label>
    <input type="text" id="name" name="name" value="admin" required />
  </div>
  <div>
    <label for="email">Email :</label>
    <input type="email" id="email" name="email" value="admin@gmail.com" required />
  </div>
  <div>
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" />
  </div>
  <button type="submit">Mettre à jour</button>
</form>
{% endblock %}
